<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <!-- include:templates/partials/head.html -->
    </head>

    <body>
        <!-- include:templates/partials/header.html -->
        <!-- include:templates/components/hero.html -->
        <!-- include:templates/home/sobre.html -->
        <!-- include:templates/home/linhas-pesquisa.html -->
        <!-- include:templates/home/membros.html -->
        <!-- include:templates/home/eventos.html -->
        <!-- include:templates/home/contato.html -->
        <!-- include:templates/partials/footer.html -->

        <script type="module" src="/js/main.js"></script>
    </body>

</html>